/* Estilos generales de la página */
body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
}

/* Encabezado principal */
h1 {
    font-size: 50px;
}

/* Botón interactivo */
button {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
